@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
figure,
picture {
  margin: 0;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.calendar-cell {
  padding: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  border-width: 1px;
}
